<div class="settings-container">
  <div class="settings-header">
    <h4>Ajustes</h4>
    <button mat-button style="height: 0; position: absolute;"> <!-- 'absorbs' the auto-focus behavior -->
    </button>
    <button type="button" rel="tooltip" title="Cerrar"       
      mat-icon-button color="basic"
      (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <lnk-settings-form 
    [appSettings]="appSettings"
    [userSettings]="userSettings"
    (onSaveSettings)="saveSettings($event)"></lnk-settings-form>
</div>