<div class="main-content login-wrapper">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <div class="card">          
          <div class="card-header" data-background-color="red">
            <img src="../assets/img/linkups-transpbg-big.png" style="width: 250px" alt="">
          </div>
          <div class="card-content">
            <div class="row text-center">
              <mat-spinner *ngIf="isLoading$ | async" [diameter]="'30'" style="margin: 10px auto"></mat-spinner>
              <div class="col-xs-12">
                <h4>Crear Cuenta</h4>
                <lnk-register-form (onRegister)="register($event)"></lnk-register-form>
              </div>
            </div>
            <div style="padding-top: 20px;">¿Ya tiene una cuenta? <a routerLink="/login">Inicie sesión</a></div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>