<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card medium-width-card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Subred</h4>
            <p class="category">Llene los datos para crear una nueva subred</p>
          </div>
          <div class="card-content">
            <lnk-subnet-form (onCreate)="createSubnet($event)"></lnk-subnet-form>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
