<form [formGroup]="institutionForm">
  
  <label for="">Datos Generales</label>
  <hr class="form-section-divider">

  <div class="row">
    <div class="col-sm-6">
     
      <mat-form-field class="full-width">
        <mat-select placeholder="Categoría" name="category" 
          formControlName="category" required>          
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category.name}}
          </mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->        
      </mat-form-field>
      
      
    </div>
    <div class="col-sm-6">
      <mat-form-field class="full-width">
        <input matInput placeholder="Número de línea" name="line_number" formControlName="line_number" required>
        <mat-error *ngIf="lineNumberControlInvalid">
          El número de línea es
          <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nombre" name="name" formControlName="name" required>
        <mat-error *ngIf="nameControlInvalid">
          El nombre es
          <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="full-width">
        <input matInput placeholder="Localidad" name="location" formControlName="location" required>
        <mat-error *ngIf="locationControlInvalid">
          La localidad es 
          <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <br>
  <label for="">Datos Técnicos</label>
  <hr class="form-section-divider">

  <div class="row">
    <div class="col-sm-6">
      <mat-form-field class="full-width">
        <input matInput placeholder="WAN" name="wan" formControlName="wan" required>
        <mat-error *ngIf="wanControlInvalid">
          Escriba una subred válida en el formato
          <strong>0.0.0.0/XX</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="full-width">
        <input matInput placeholder="LAN" name="lan" formControlName="lan">        
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <mat-form-field class="full-width">
        <input matInput placeholder="Bandwidth" name="bandwidth" formControlName="bandwidth">        
      </mat-form-field>
      
    </div>
    <div class="col-sm-3">

      <mat-form-field class="full-width">
        <input matInput placeholder="Tipo de puerta" name="gate_type" formControlName="gate_type">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="full-width">        
        <mat-select placeholder="Estado" name="state" formControlName="state">
          <mat-option value="active">Activo</mat-option>
          <mat-option value="inactive">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <mat-form-field class="full-width">
        <mat-select placeholder="Destino" name="final_destination" formControlName="final_destination">
          <mat-option value="vpnprov">VPN Provincial</mat-option>
          <mat-option value="infomed">Infomed</mat-option>
        </mat-select>        
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-checkbox formControlName="has_internet" name="has_internet">¿Tiene Internet?</mat-checkbox>
    </div>
  </div>
  <br>
  <label for="">Otros</label>
  <hr class="form-section-divider">

  <div class="row">
    <div class="col-sm-6">
      <mat-form-field class="full-width">
        <input matInput placeholder="Número de Teléfono" name="phone_number" formControlName="phone_number">        
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="full-width">
        <input matInput placeholder="Último reporte" name="last_report" formControlName="last_report">
      </mat-form-field>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="full-width">
        <textarea matInput name="notes" formControlName="notes"
                  placeholder="Notas adicionales" rows="5"></textarea>
      </mat-form-field>
    </div>
  </div>


  <div class="pull-right">
    <button mat-raised-button color="primary" 
            *ngIf="!exists" [disabled]="!institutionForm.valid" 
            (click)="create(institutionForm)">Agregar</button>

    <button mat-raised-button color="primary" 
            *ngIf="exists" [disabled]="!institutionForm.valid" 
            (click)="update(institutionForm)">Actualizar</button>

    <a routerLink="/app/institutions" mat-raised-button color="basic">Cancelar</a>
  </div>
  
  <div class="clearfix"></div>
</form>