<div class="nav-tabs-navigation">
    <div class="nav-tabs-wrapper">        
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active add-new-btn">
              <a (click)="handleClick()" data-toggle="tab">
                <i class="material-icons">{{ icon && icon !== '' ? icon : 'add_box'  }}</i>
                    {{ text || 'New'}}
                <div class="ripple-container"></div>
              </a>
            </li>                                  
        </ul>
    </div>
</div>