<form [formGroup]="categoryForm">
  
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nombre" name="name" formControlName="name">
          <mat-error *ngIf="nameControlInvalid">
            El tipo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6 pull-right text-right">
        <button mat-raised-button color="primary" 
                *ngIf="!exists" [disabled]="!categoryForm.valid" 
                (click)="create(categoryForm)">Agregar</button>
    
        <button mat-raised-button color="primary" 
                *ngIf="exists" [disabled]="!categoryForm.valid" 
                (click)="update(categoryForm)">Actualizar</button>
    
        <a routerLink="/app/categories" mat-raised-button color="basic">Cancelar</a>
      </div>
      
    </div>

    <div class="row">
      <lnk-category-icons formControlName="icon"></lnk-category-icons>
    </div>  
  
    <div class="clearfix"></div>
  </form>