<div class="col-md-6 col-md-offset-3">
  <form [formGroup]="registerForm">

    <mat-form-field class="full-width">
      <input matInput placeholder="Nombre completo" 
              name="name" formControlName="name">
        <mat-error *ngIf="nameControlInvalid">
          El email es 
          <strong>inválido</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" style="padding-bottom: 20px">
      <input matInput placeholder="Email" 
             name="email" formControlName="email">
        <mat-error *ngIf="emailControlInvalid">
          El email es 
          <strong>inválido</strong>
        </mat-error>
    </mat-form-field>

    <div formGroupName="passwords">
      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Contraseña" 
               name="password" formControlName="password">
        <mat-error *ngIf="passwordControlInvalid">
          La contraseña es
          <strong>obligatoria</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Confirmar contraseña" 
                name="passwordConfirm" formControlName="passwordConfirm">
        <mat-error *ngIf="passwordConfirmControlInvalid">
          La contraseña es
          <strong>obligatoria</strong>
        </mat-error>
      </mat-form-field>
    </div>
  
    <!-- <button [disabled]="!loginForm.valid" (click)="login(loginForm)" mat-raised-button color="primary">Login</button> -->
  </form>
</div>