<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="category-icon">{{ category.icon }}</mat-icon>
      {{category.name}}
    </mat-panel-title>    
  </mat-expansion-panel-header>

  <mat-action-row>
    <a [routerLink]="['/app/categories', category._id]" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </a>
    <button mat-icon-button (click)="requestDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-action-row>

</mat-expansion-panel>
<br>