<app-loader [display]="isLoading$ | async"></app-loader>
<div class="wrapper">

	<mat-drawer-container (backdropClick)="close()" class="custom-drawer-container">
		<mat-drawer #sidenav mode="over" 
			position="end" [opened]="secondarySidebarOpened$ | async"
			disableClose>
			
            <lnk-settings 
                [appSettings]="appSettings$ | async"
                (savedSettings)="onSettingsSaved($event)"
                (closed)="close()"></lnk-settings>

		</mat-drawer>
			
			<div class="sidebar" data-color='red' data-image="">
				<lnk-sidebar></lnk-sidebar>
				<div class="sidebar-background" 
							style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
			</div>
			<div class="main-panel">				
                <lnk-navbar 
                    [currentUser]="currentUser$ | async" 
                    [appSettings]="appSettings$ | async"
                    (showSettingsSidebar)="toggle()"
                    (loggedOut)="logOut()"
                    ></lnk-navbar>
                <ng-content></ng-content>
				<lnk-footer></lnk-footer>
            </div>
            
	</mat-drawer-container>

</div>

