.login-wrapper {
  padding-top: 10vh;  
  height: 100vh;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background: url(/assets/img/landing.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .card {
    max-width: 950px;
    .card-content {
      padding: 50px 30px 100px !important;
  
    }
  }
}