<div class="main-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-nav-tabs" >
                    <div class="card-header" data-background-color="green">
                      <lnk-add-new-button [text]="'Añadir'" (clicked)="addCategory()"></lnk-add-new-button>
                    </div>

                    <div class="card-content">
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-6"><lnk-category></lnk-category></div>
                            <div class="col-lg-2 col-md-3 col-sm-6"><lnk-category></lnk-category></div>
                            <div class="col-lg-2 col-md-3 col-sm-6"><lnk-category></lnk-category></div>
                            <div class="col-lg-2 col-md-3 col-sm-6"><lnk-category></lnk-category></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

