<div class="main-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-nav-tabs" >
                    <div class="card-header" data-background-color="green">
                      <lnk-add-new-button class="pull-right" [text]="'Agregar Nueva'" (clicked)="addCategory()"></lnk-add-new-button>
                      <h4 class="title">Categorías</h4>
                      <p class="category">Categorización para los tipos de instituciones</p>
                      <div class="clearfix"></div>
                    </div>

                    <div class="card-content">
                        <div class="row">
                            <lnk-category *ngFor="let category of categories$ | async" 
                                [category]="category"
                                (onDeleteRequest)="delete($event)"
                                class="col-lg-2 col-md-3 col-sm-6"></lnk-category>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

