<!-- <div class="dropdown"> -->
    <a  href="javascript:void(0);"  class="dropdown-toggle" data-toggle="dropdown" (click)="toggle()" (blur)="hide()">
            <i class="material-icons">{{icon}}</i>
        <span *ngIf="hasBadge" class="notification">{{badgeCount}}</span>
        <p class="hidden-lg hidden-md">Notifications</p>
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown-title text-muted text-center" *ngIf="title">
            <h5>{{title}}</h5>
        </li>
        <li *ngFor="let item of items">
            <a (click)="itemClicked(item)">{{item.text}}</a>
        </li>        
    </ul>
<!-- </div> -->