<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-checkbox [checked]="!subnet.available" style="margin-right: 10px" disabled></mat-checkbox>
      {{ subnet.ip }}/{{ subnet.mask }}
    </mat-panel-title>    
  </mat-expansion-panel-header>

  <div>
    <ul class="subnet-features-list">
      <li><strong>Máscara: </strong>{{ fullmask }}</li>
      <li><strong>Hosts usables: </strong>{{ usableHosts }}</li>
      <li><strong>Broadcast: </strong>{{ broadcast }}</li>
    </ul>
  </div>

  <mat-action-row>
    <a [routerLink]="['/app/subnets', subnet._id]" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </a>
    <button mat-icon-button (click)="requestDelete()" [disabled]="!subnet.available">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-action-row>

</mat-expansion-panel>
