<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" (click)="toggle()" (blur)="hide()">
  <i class="material-icons">notifications</i>
  <span class="notification" *ngIf="(unreadCount$ | async) > 0" >{{unreadCount$ | async}}</span>
  <p class="hidden-lg hidden-md">Notifications</p>
</a>  
<ul class="dropdown-menu">   
  <!-- <li *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </li>  -->
  <li *ngFor="let notification of notifications$ | async">
    <a (click)="itemClicked(item)">        
      {{notification.message}}
    </a>
  </li>
  <li *ngIf="(notifications$ | async).length > 8" >
    <a (click)="itemClicked(item)" class="extra-unread-notifications">
      Ver todas
      <mat-icon> keyboard_arrow_right </mat-icon>
    </a>
  </li>
</ul>