<div class="main-content">

    <div class="container-fluid">
  
      <div class="row">
        <div class="col-md-12">
          <div class="card card-nav-tabs">
            <div class="card-header" data-background-color="orange">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">                  
                  <h4 class="title">Notificaciones</h4>
                  <!-- <p class="category">Haga clic sobre una para ver más detalles</p> -->
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
  
            <div class="card-content">
              <button (click)="send()">Send me!</button>
<!--               
              {{ messages$ | async }} -->

              <!-- <pre>
                {{ notifications$ | async | json }}
              </pre> -->
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>