<div class="main-content login-wrapper">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <div class="card">          
          <div class="card-header" data-background-color="red">
            <img src="../assets/img/linkups-transpbg-big.png" style="width: 250px" alt="">
          </div>
          <div class="card-content">
            <div class="row text-center">
              <div class="col-xs-12">
                <h4>Iniciar Sesión</h4>
              </div>
              <lnk-login-form (onLogin)="login($event)"></lnk-login-form>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>