<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">Institución</h4>
            <p class="category">Llene los datos para crear una nueva institución</p>
          </div>
          <div class="card-content">
            <lnk-institution-form [institution]="institution$ | async" 
                                  (onCreate)="create($event)"
                                  (onUpdate)="update($event)"></lnk-institution-form>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>